#====================audiod==========================
allow audiod audiod:capability { dac_read_search dac_override sys_nice };
allow audiod snd_data_file:dir { add_name open search write };
allow audiod snd_data_file:file {  getattr open read write create_file_perms };
