#Defines the files (configs, dumps, etc) used by display processes
type touchpanel_sysfs, fs_type, sysfs_type;
type app_efs_file, file_type;
type imei_efs_file, file_type;
type wifi_efs_file, file_type;
type sensors_efs_file, file_type;
type sysfs_camera, fs_type, sysfs_type;
type sysfs_input, fs_type, sysfs_type;
type sysfs_vibeamp, fs_type, sysfs_type;
type snd_data_file, file_type, data_file_type;
