#============= inputdisabler_service ==============
allow inputdisabler_service sysfs_input:file { rw_file_perms };
allow system_app sysfs_input:file { rw_file_perms };
