#============= kernel ==============
allow kernel block_device:blk_file rw_file_perms;
allow kernel kernel:capability { dac_override dac_read_search };
