#============= mediaserver ==============
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager add;
allow mediaserver hal_camera_hwservice:hwservice_manager find;
allow mediaserver sensor_privacy_service:service_manager find;
allow mediaserver hal_lineage_camera_motor_hwservice:hwservice_manager find;
