allow mm-qcamerad system_data_file:dir w_dir_perms;
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket3";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket4";
