#============= qti_init_shell ==============
allow qti_init_shell bluetooth_efs_file:dir search;
allow qti_init_shell bluetooth_efs_file:file { open read };
allow qti_init_shell { bluetooth_prop ctl_start_prop default_prop system_prop }:property_service set;
allow qti_init_shell efs_file:dir search;
allow qti_init_shell file_contexts_file:file { getattr open read };
allow qti_init_shell persist_data_file:dir search;
allow qti_init_shell persist_data_file:file { open read };
allow qti_init_shell radio_data_file:dir { add_name create getattr open read search setattr write };
allow qti_init_shell radio_data_file:file { getattr setattr };
allow qti_init_shell radio_data_file:lnk_file { create getattr read setattr };
allow qti_init_shell self:capability dac_override;
allow qti_init_shell sysfs:file { setattr write };
allow qti_init_shell sysfs_net:file write;
allow qti_init_shell system_data_file:dir { add_name create open read remove_name rmdir setattr write };
allow qti_init_shell system_data_file:file { create open write };
allow qti_init_shell toolbox_exec:file { execute execute_no_trans getattr open read };
allow qti_init_shell vfat:dir search;
allow qti_init_shell sysfs_android_usb:file { read write };

