#============= qti_init_shell ==============
allow qti_init_shell bluetooth_efs_file:dir search;
allow qti_init_shell bluetooth_efs_file:file { open read };
allow qti_init_shell efs_file:dir search;
allow qti_init_shell file_contexts_file:file { getattr open read };
allow qti_init_shell persist_data_file:dir search;
allow qti_init_shell persist_data_file:file { open read };
allow qti_init_shell radio_data_file:lnk_file { create getattr read setattr };
allow qti_init_shell sysfs:file write;
allow qti_init_shell toolbox_exec:file { execute execute_no_trans getattr open read };
allow qti_init_shell vfat:dir search;

