#============= rild ==============
allow rild alarm_device:chr_file { ioctl open read };
allow rild default_prop:property_service set;
allow rild net_radio_prop:property_service set;
allow rild proc_net:file write;
allow rild proc_qtaguid_stat:file { getattr open read };
allow rild radio_data_file:dir { add_name create open read remove_name search write };
allow rild radio_data_file:file { create getattr ioctl lock open read unlink write };
allow rild radio_data_file:lnk_file { getattr read };
allow rild system_data_file:dir { add_name remove_name write };
allow rild system_data_file:file { create open read setattr unlink write };
allow rild unlabeled:dir search;
allow rild unlabeled:file { getattr open read };
allow rild device:chr_file { read write open ioctl };
allow rild storage_file:dir { search read write open };
