allow system_server app_efs_file:dir search;
allow system_server efs_file:dir search;
allow system_server vibrator_sysfs_file:dir search;
allow system_server vibrator_sysfs_file:file rw_file_perms;
