allow untrusted_app app_data_file:file { read write open execute };
allow untrusted_app net_dns_prop:file { read write open };
allow untrusted_app proc_vmstat:file { read write open };
allow untrusted_app proc_zoneinfo:file { read write open };
allow untrusted_app proc:file { read write open };
allow untrusted_app hal_memtrack_default:binder call;
allow untrusted_app rootfs:dir r_dir_perms;
